.RightNav {
	z-index: 1;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 0;
	transition: width .5s;
}

.RightNav.Show {
	width: 100%;
}

.RightNav::after {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: black;
	opacity: .5;
	content:'';
}

.RightNav .Content {
	position: absolute;
	z-index: 2;
	background-color: white;
	width:0px;
	height:100%;
	transition: width 1s;
}

.RightNav.Show .Content {
	width: 400px;
}

.RightNav .Content .Header .BackArrow {
	float: right;
	margin-right: 10px;
}