.Header {
	background-color: #9999ff;
	padding-top: 20px;
	padding-bottom: 20px;
}

.Header .Right {
	float: right;
	vertical-align-align:middle;
	line-height: 0px;
	margin-right: 10px;
}

.Header .Left {
	float: left;
	vertical-align:middle;
	line-height: 0px;
}


.RightNav {
	z-index: 9;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 0;
	transition: width 1s;
}

.RightNav .Content {
	position: absolute;
	z-index: 2;
	background-color: white;
	width:0px;
	height:100%;
	outline-color: rgba(0, 0, 0, .6);
	outline-style: solid;
	outline-width: 0px;
	transition: width 1s, outline 1s;
}

.RightNav.Show .Content {
	width: 400px;
	outline-width: 3000px;
}

.RightNav .Content .Header .BackArrow {
	float: right;
	margin-right: 10px;
}