.Header {
	background-color: #9999ff;
	padding-top: 20px;
	padding-bottom: 20px;
}

.Header .Right {
	float: right;
	vertical-align-align:middle;
	line-height:0px;
}

.Header .Left {
	float: left;
	vertical-align:middle;
	line-height:0px;
}